<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryReadWriteUsageDescription</key>
    <string>Light Table needs access to your Photos library to find large files and create sorted albums.</string>
</dict>
</plist>
